/* Reset base */
body {
  margin: 0;
  overflow: hidden;
  background-color: #87ceeb; /* Cielo */
}

.JSON{
  margin: 14;
}

/* Canvas ocupa toda la pantalla */
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

/* Simulación básica de iluminación ambiental */
.scene-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at 70% 20%,
    rgba(255,255,255,0.3),
    transparent 60%
  );
}

/* Terreno falso solo visual */
.terrain {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 40vh;
  background-image: url("https://threejs.org/examples/textures/terrain/grasslight-big.jpg");
  background-size: 400px 400px;
  background-repeat: repeat;
  transform: perspective(800px) rotateX(60deg);
  transform-origin: bottom;
}
